/*
 * Author: Justin Ashley
 * Created: October 13, 2014
 *
 * Description: This file contains all of the variables for various colors
 */

$c-primary: #4798ed;
$c-primaryHover: #66aef9;
$c-secondary: goldenrod;
$c-darkContrast: white;
$c-lightContrast: #454545;


$c-borderColor: #454545;
$border: 1px solid $c-borderColor;
$img-border: 2px solid $c-borderColor;

$c-backgroundColor: #222;
$c-backgroundColor1: #333;